venv/
__pycache__/
.DS_Store
*.zip
*.csv
dashboard.zip

# Ignore all the raw data directories (we only track the processed Moddata and scripts)
a-study-on-online-monitoring-of-sewage-treatment-plants-stps-of-bengaluru/
bbmp-atr-on-budget/
bbmp-budget/
bbmp-budget-2023-24/
bbmp-budget-2024-25/
bbmp-budget-book/
bbmp-grievances-data/
bbmp-lakes/
bbmp-parks/
bbmp-revenue-flowchart/
bbmp-tenders/
bbmp-ward-information/
bbmp-work-orders-*/
bda-revised-master-plan-*/
bengaluru-*/
borewells-in-bengaluru/
bwssb-*/
cag-performance-audit-of-stormwater-drains-in-bengaluru/
daily-temperature-70-years-data-for-major-indian-cities/
dynamic-ground-water-resources-of-karnataka-*/
economic-survey-of-karnataka-*/
flooding-locations-in-bengaluru-urban/
gba-corporation-budgets-2026-27/
gba-wards-delimitation-2025/
how-water-flows-through-bengaluru/
hydrology-and-rivers-maps-for-bengaluru/
india-river-basins-maps/
karnataka-*/
lakes-and-ponds-in-bengaluru-district/
map-lakes-streams-bengaluru-urban-within-bbmp-area/
national-compilation-of-dynamic-ground-water-resources-of-india-2025/
occupancy-certificate-for-bbmp-zones/
pincode-maps-of-cities/
protected-areas-and-eco-senstive-zones-of-karnataka-and-bengaluru-urban/
tenders-for-rajakaluve-improvement-works-2025/
wetlands-of-karnataka-and-bengaluru-urban/
google_drive_files/
